html
  //
    CITATIONS
    CSS Periodic Table. (2018). CodePen. Retrieved 30 December 2018, from https://codepen.io/nemophrost/pen/EkImb
    https://www.etsy.com/listing/244858329/dr-warhols-periodic-table-of-microbes
    Warhol, J. (2018). Dr Warhol's Periodic Table of Microbes, The Small Guide to Small Things Kindle Edition. Warhol Institute, LLC
  head
    link(href='periodicTable.css', rel='stylesheet')
  body
    .periodic
      .periodic-row
        .cell
          #id1.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 1
            .symbol
              | H
            .at_details
              | Haemophilus
        .cell
        .cell
        .cell
        .cell
          h1.title
            | Periodic Table of Microbes
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
          #id2.element
            .at_num
              span.gram_shape
                | -T
              span.feature
                | P
              span.number
                | 2
            .symbol
              | He
            .at_details
              | Helicobacter
      .periodic-row
        .cell
          #id3.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | P
              span.number
                | 3
            .symbol
              | Li
            .at_details
              | Listeria
        .cell
          #id4.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 4
            .symbol
              | Be
            .at_details
              | Bordetella
        .cell
        .cell
        .cell
          .key
            // KEY ---------------------------
            .keyTitle
              h2
                | Periodic Table Key
            .column.gram-stain-col
              h3
                | GRAM STAIN
              div
                | (+) Gram Negative
              div
                | (+) Gram Positive
            .column.shape-col
              h3
                | SHAPE
              div
                | (R) rod
              div
                | (C) coccus
              div
                | (T) twisted, spiral, helix
              div
                | (B) branched
              div
                | (F) filaments
              div
                | (D) dimorphic
            .column.features-col
              h3
                | FEATURES
              div
                | (P) pathogen
              div
                | (W) water
              div
                | (S) soil
              div
                | (E) edibles
              div
                | (X) extreme
          // END KEY ---------------------------
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
          #id5.element
            .at_num
              span.gram_shape
                | -T
              span.feature
                | P
              span.number
                | 5
            .symbol
              | B
            .at_details
              | Borrelia
        .cell
          #id6.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | P
              span.number
                | 6
            .symbol
              | C
            .at_details
              | Clostridium
        .cell
          #id7.element
            .at_num
              span.gram_shape
                | -C
              span.feature
                | P
              span.number
                | 7
            .symbol
              | N
            .at_details
              | Neisseria
        .cell
          #id8.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | WX
              span.number
                | 8
            .symbol
              | O
            .at_details
              | Oceanobacillus
        .cell
          #id9.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SWP
              span.number
                | 9
            .symbol
              | F
            .at_details
              | Flavobacterium
        .cell
          #id10.element
            .at_num
              span.gram_shape
                | -C
              span.feature
                | P
              span.number
                | 10
            .symbol
              | Ne
            .at_details
              | Neorickettsia
      .periodic-row
        .cell
          #id11.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | S
              span.number
                | 11
            .symbol
              | Na
            .at_details
              | Nitrobacter
        .cell
          #id12.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 12
            .symbol
              | Mg
            .at_details
              | Morganella
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
        .cell
          #id13.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SWP
              span.number
                | 13
            .symbol
              | Al
            .at_details
              | Alcaligenes
        .cell
          #id14.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | S
              span.number
                | 14
            .symbol
              | Si
            .at_details
              | Sinorhizobium
        .cell
          #id15.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SWP
              span.number
                | 15
            .symbol
              | P
            .at_details
              | Pseudomonas
        .cell
          #id16.element
            .at_num
              span.gram_shape
                | +C
              span.feature
                | P
              span.number
                | 16
            .symbol
              | S
            .at_details
              | Staphylococcus
        .cell
          #id17.element
            .at_num
              span.gram_shape
                | -C
              span.feature
                | P
              span.number
                | 17
            .symbol
              | Cl
            .at_details
              | Chlamydia
        .cell
          #id18.element
            .at_num
              span.gram_shape
                | +RB
              span.feature
                | S
              span.number
                | 18
            .symbol
              | Ar
            .at_details
              | Arthrobacter
      .periodic-row
        .cell
          #id19.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SWP
              span.number
                | 19
            .symbol
              | K
            .at_details
              | Klebsiella
        .cell
          #id20.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 20
            .symbol
              | Ca
            .at_details
              | Coxiella
        .cell
          #id21.element
            .at_num
              span.gram_shape
                | -T
              span.feature
                | P
              span.number
                | 21
            .symbol
              | Sc
            .at_details
              | Spirochetes
        .cell
          #id22.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SXW
              span.number
                | 22
            .symbol
              | Ti
            .at_details
              | Thiobacillus
        .cell
          #id23.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WP
              span.number
                | 23
            .symbol
              | V
            .at_details
              | Vibrio
        .cell
          #id24.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SWX
              span.number
                | 24
            .symbol
              | Cr
            .at_details
              | Cryobacterium
        .cell
          #id25.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | X
              span.number
                | 25
            .symbol
              | Mn
            .at_details
              | Methanobacterium
        .cell
          #id26.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 26
            .symbol
              | Fe
            .at_details
              | Ferrimonas
        .cell
          #id27.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WX
              span.number
                | 27
            .symbol
              | Co
            .at_details
              | Colwellia
        .cell
          #id28.element
            .at_num
              span.gram_shape
                | -RTH
              span.feature
                | SWH
              span.number
                | 28
            .symbol
              | Ni
            .at_details
              | Nitratireductor
        .cell
          #id29.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 29
            .symbol
              | Cu
            .at_details
              | Caulobacter
        .cell
          #id30.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | EW
              span.number
                | 30
            .symbol
              | Zn
            .at_details
              | Zymomonas
        .cell
          #id31.element
            .at_num
              span.gram_shape
                | -RB
              span.feature
                | WX
              span.number
                | 31
            .symbol
              | Ga
            .at_details
              | Gallionella
        .cell
          #id32.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SWX
              span.number
                | 32
            .symbol
              | Ge
            .at_details
              | Geobacillus
        .cell
          #id33.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SP
              span.number
                | 33
            .symbol
              | As
            .at_details
              | Actinomyces
        .cell
          #id34.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 34
            .symbol
              | Se
            .at_details
              | Salmonella
        .cell
          #id35.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 35
            .symbol
              | Br
            .at_details
              | Brucella
        .cell
          #id36.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | EP
              span.number
                | 36
            .symbol
              | Kr
            .at_details
              | Kurthia
      .periodic-row
        .cell
          #id37.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WS
              span.number
                | 37
            .symbol
              | Rb
            .at_details
              | Rhodobacter
        .cell
          #id38.element
            .at_num
              span.gram_shape
                | +C
              span.feature
                | P
              span.number
                | 38
            .symbol
              | Sr
            .at_details
              | Streptococcus
        .cell
          #id39.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 39
            .symbol
              | Y
            .at_details
              | Yersinia
        .cell
          #id40.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 40
            .symbol
              | Zr
            .at_details
              | Zeaxanthinibacter
        .cell
          #id41.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SW
              span.number
                | 41
            .symbol
              | Nb
            .at_details
              | Niabella
        .cell
          #id42.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | PS
              span.number
                | 42
            .symbol
              | Mo
            .at_details
              | Mycobacterium
        .cell
          #id43.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 43
            .symbol
              | Tc
            .at_details
              | Tenacibaculum
        .cell
          #id44.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | WX
              span.number
                | 44
            .symbol
              | Ru
            .at_details
              | Rubrobacter
        .cell
          #id45.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | S
              span.number
                | 45
            .symbol
              | Rh
            .at_details
              | Rhizobium
        .cell
          #id46.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 46
            .symbol
              | Pd
            .at_details
              | Pandoraea
        .cell
          #id47.element
            .at_num
              span.gram_shape
                | +RF
              span.feature
                | S
              span.number
                | 47
            .symbol
              | Ag
            .at_details
              | Agromyces
        .cell
          #id48.element
            .at_num
              span.gram_shape
                | +D
              span.feature
                | PE
              span.number
                | 48
            .symbol
              | Cd
            .at_details
              | Candida
        .cell
          #id49.element
            .at_num
              span.gram_shape
                | -C
              span.feature
                | WX
              span.number
                | 49
            .symbol
              | In
            .at_details
              | Ignicoccus
        .cell
          #id50.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 50
            .symbol
              | Sn
            .at_details
              | Syntrophomonas
        .cell
          #id51.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WX
              span.number
                | 51
            .symbol
              | Sb
            .at_details
              | Salinibacter
        .cell
          #id52.element
            .at_num
              span.gram_shape
                | -C
              span.feature
                | WX
              span.number
                | 52
            .symbol
              | Te
            .at_details
              | Thermococcus
        .cell
          #id53.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WX
              span.number
                | 53
            .symbol
              | I
            .at_details
              | Idiomarina
        .cell
          #id54.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 54
            .symbol
              | Xe
            .at_details
              | Xenorhabdus
      .periodic-row
        .cell
          #id55.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | S
              span.number
                | 55
            .symbol
              | Cs
            .at_details
              | Cellulomonas
        .cell
          #id56.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SP
              span.number
                | 56
            .symbol
              | Ba
            .at_details
              | Bacillus
        .cell
        .cell
          #id57.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 57
            .symbol
              | Hf
            .at_details
              | Hoeflea
        .cell
          #id58.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WX
              span.number
                | 58
            .symbol
              | Ta
            .at_details
              | Thioalkalivibrio
        .cell
          #id59.element
            .at_num
              span.gram_shape
                | +C
              span.feature
                | E
              span.number
                | 59
            .symbol
              | W
            .at_details
              | Weissella
        .cell
          #id60.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 60
            .symbol
              | Re
            .at_details
              | Roseomonas
        .cell
          #id61.element
            .at_num
              span.gram_shape
                | -T
              span.feature
                | W
              span.number
                | 61
            .symbol
              | Os
            .at_details
              | Oceanospirillum
        .cell
          #id62.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SW
              span.number
                | 62
            .symbol
              | Ir
            .at_details
              | Isoptericola
        .cell
          #id63.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 63
            .symbol
              | Pt
            .at_details
              | Pasteurella
        .cell
          #id64.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SW
              span.number
                | 64
            .symbol
              | Au
            .at_details
              | Aureobacterium
        .cell
          #id65.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SW
              span.number
                | 65
            .symbol
              | Hg
            .at_details
              | Hydrogenophaga
        .cell
          #id66.element
            .at_num
              span.gram_shape
                | +RB
              span.feature
                | SP
              span.number
                | 66
            .symbol
              | Tl
            .at_details
              | Tsukamurella
        .cell
          #id67.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SP
              span.number
                | 67
            .symbol
              | Pb
            .at_details
              | Paenibacillus
        .cell
          #id68.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | E
              span.number
                | 68
            .symbol
              | Bi
            .at_details
              | Bifidobacterium
        .cell
          #id69.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 69
            .symbol
              | Po
            .at_details
              | Porphyromonas
        .cell
          #id70.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | P
              span.number
                | 70
            .symbol
              | At
            .at_details
              | Atopobium
        .cell
          #id71.element
            .at_num
              span.gram_shape
                | +C
              span.feature
                | E
              span.number
                | 71
            .symbol
              | Rn
            .at_details
              | Ruminococcus
      .periodic-row
        .cell
          #id72.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 72
            .symbol
              | Fr
            .at_details
              | Francisella
        .cell
          #id73.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | PE
              span.number
                | 73
            .symbol
              | Ra
            .at_details
              | Ralstonia
        .cell
        .cell
          #id74.element
            .at_num
              span.gram_shape
                | -F
              span.feature
                | WX
              span.number
                | 74
            .symbol
              | Rf
            .at_details
              | Roseiflexus
        .cell
          #id75.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WS
              span.number
                | 75
            .symbol
              | Db
            .at_details
              | Desulfovibrio
        .cell
          #id76.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 76
            .symbol
              | Sg
            .at_details
              | Shigella
        .cell
          #id77.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | W
              span.number
                | 77
            .symbol
              | Bh
            .at_details
              | Bhargavaea
        .cell
          #id78.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SE
              span.number
                | 78
            .symbol
              | Hs
            .at_details
              | Herbaspirillum
        .cell
          #id79.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WX
              span.number
                | 79
            .symbol
              | Mt
            .at_details
              | Marinobacter
        .cell
          #id80.element
            .at_num
              span.gram_shape
                | +F
              span.feature
                | S
              span.number
                | 80
            .symbol
              | Ds
            .at_details
              | Dactylosporangium
        .cell
          #id81.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 81
            .symbol
              | Rg
            .at_details
              | Ruegeria
        .cell
          #id82.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | PS
              span.number
                | 82
            .symbol
              | Cn
            .at_details
              | Corynebacterium
        .cell
          #id83.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 83
            .symbol
              | Uut
            .at_details
              | Novosphingobium
        .cell
          #id84.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WP
              span.number
                | 84
            .symbol
              | Fl
            .at_details
              | Flexibacter
        .cell
          #id85.element
            .at_num
              span.gram_shape
                | VARIABL
              span.feature
                | VAIALEP
              span.number
                | 85
            .symbol
              | Uup
            .at_details
              | Magnetococcus
        .cell
          #id86.element
            .at_num
              span.gram_shape
                | +B
              span.feature
                | S
              span.number
                | 86
            .symbol
              | Lv
            .at_details
              | Lechevalieria
        .cell
          #id87.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 87
            .symbol
              | Uus
            .at_details
              | Tessaracoccus
        .cell
          #id88.element
            .at_num
              span.gram_shape
                | +B
              span.feature
                | S
              span.number
                | 88
            .symbol
              | Uuo
            .at_details
              | Oligella
      .periodic-row
      .periodic-row
        .cell
        .cell
        .cell
        .cell
          #id89.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | E
              span.number
                | 89
            .symbol
              | La
            .at_details
              | Lactobacillus
        .cell
          #id90.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | S
              span.number
                | 90
            .symbol
              | Ce
            .at_details
              | Cellvibrio
        .cell
          #id91.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 91
            .symbol
              | Pr
            .at_details
              | Prevotella
        .cell
          #id92.element
            .at_num
              span.gram_shape
                | +RF
              span.feature
                | SP
              span.number
                | 92
            .symbol
              | Nd
            .at_details
              | Nocardia
        .cell
          #id93.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | S
              span.number
                | 93
            .symbol
              | Pm
            .at_details
              | Promicromonospora
        .cell
          #id94.element
            .at_num
              span.gram_shape
                | +
              span.feature
                | PS
              span.number
                | 94
            .symbol
              | Sm
            .at_details
              | Streptomyces
        .cell
          #id95.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SWP
              span.number
                | 95
            .symbol
              | Eu
            .at_details
              | Eubacterium
        .cell
          #id96.element
            .at_num
              span.gram_shape
                | +RB
              span.feature
                | SP
              span.number
                | 96
            .symbol
              | Gd
            .at_details
              | Gordonia
        .cell
          #id97.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WP
              span.number
                | 97
            .symbol
              | Tb
            .at_details
              | Tepidibacter
        .cell
          #id98.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SWX
              span.number
                | 98
            .symbol
              | Dy
            .at_details
              | Dyadobacter
        .cell
          #id99.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 99
            .symbol
              | Ho
            .at_details
              | Holospora
        .cell
          #id100.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 100
            .symbol
              | Er
            .at_details
              | Escherichia
        .cell
          #id101.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | WX
              span.number
                | 101
            .symbol
              | Tm
            .at_details
              | Thermus
        .cell
          #id102.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 102
            .symbol
              | Yb
            .at_details
              | Youngiibacter
        .cell
          #id103.element
            .at_num
              span.gram_shape
                | +C
              span.feature
                | E
              span.number
                | 103
            .symbol
              | Lu
            .at_details
              | Leuconostoc
      .periodic-row
        .cell
        .cell
        .cell
        .cell
          #id104.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | E
              span.number
                | 104
            .symbol
              | Ac
            .at_details
              | Acetobacter
        .cell
          #id105.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 105
            .symbol
              | Th
            .at_details
              | Thalassomonas
        .cell
          #id106.element
            .at_num
              span.gram_shape
                | -C
              span.feature
                | WS
              span.number
                | 106
            .symbol
              | Pa
            .at_details
              | Paracoccus
        .cell
          #id107.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 107
            .symbol
              | U
            .at_details
              | Undibacterium
        .cell
          #id108.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | W
              span.number
                | 108
            .symbol
              | Np
            .at_details
              | Neptunomonas
        .cell
          #id109.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | SW
              span.number
                | 109
            .symbol
              | Pu
            .at_details
              | Pusillimonas
        .cell
          #id110.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SWX
              span.number
                | 110
            .symbol
              | Am
            .at_details
              | Amphibacillus
        .cell
          #id111.element
            .at_num
              span.gram_shape
                | -T
              span.feature
                | P
              span.number
                | 111
            .symbol
              | Cm
            .at_details
              | Campylobacter
        .cell
          #id112.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | PS
              span.number
                | 112
            .symbol
              | Bk
            .at_details
              | Burkholderia
        .cell
          #id113.element
            .at_num
              span.gram_shape
                | -F
              span.feature
                | WX
              span.number
                | 113
            .symbol
              | Cf
            .at_details
              | Chloroflexus
        .cell
          #id114.element
            .at_num
              span.gram_shape
                | +C
              span.feature
                | P
              span.number
                | 114
            .symbol
              | Es
            .at_details
              | Enterococcus
        .cell
          #id115.element
            .at_num
              span.gram_shape
                | -R
              span.feature
                | P
              span.number
                | 115
            .symbol
              | Fm
            .at_details
              | Fusobacterium
        .cell
          #id116.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SX
              span.number
                | 116
            .symbol
              | Md
            .at_details
              | Modestobacter
        .cell
          #id117.element
            .at_num
              span.gram_shape
                | +R
              span.feature
                | SP
              span.number
                | 117
            .symbol
              | No
            .at_details
              | Nonomurea
        .cell
          #id118.element
            .at_num
              span.gram_shape
                | -T
              span.feature
                | P
              span.number
                | 118
            .symbol
              | Lr
            .at_details
              | Leptospira
      div(style='clear: both;')
